.message__area {
  padding: 0 2em;

  .message__header {
    display: flex;
    width: 100%;
    height: 12%;

    .message__user-info {
      border-radius: 0.4em;
      background-color: $primary;
      padding: 1em;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;

      div {
        display: flex;
        flex-direction: column;
        margin-left: 1.5em;
        color: $white;

        h3 {
          font-size: 1.4rem;
          text-align: center;
          width: 100%;
        }

        span {
          width: 100%;
        }
      }
    }
  }

  textarea {
    width: 100%;
    margin-top: 1em;
    height: 80%;
    border-radius: 0.4em;
    padding: 1em;
    font-size: 1.4rem;
    color: $font-color;
  }
}
