// Colors
$primary: #3b2a88;
$secondary: #4531f7;
$tertiary: #363636;
$quaternary: #638eff;
$quinary: #42b6fa;
$dark-grey: #474350;
$light-grey: #eeeded;
$white: #fff;
$red: #dd2323;
$green: #52e271;

$background: #f1f6f9;
$font-color: #9c9c9c;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
